body{
    justify-content: center;
    text-align: center;

   
}

.text-brand{
    text-align: center;
    justify-content: center;
}


.text-brand2{
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    
    margin: 50px;
}
p{
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin: 60px;
   
}



.text-brand{
    justify-content: center;
    margin: 50px;
    text-align: center;

}

h1{
    justify-content: center;
    margin: 30px;
}

h3{
    justify-content: baseline;
    text-align: center;
    margin: 30px;
}

li{
    justify-content: center;
    font-size: 22px;
    text-align: center;
    align-items: center;
}

ul{
    justify-content: center;
    text-align: center;
}

